<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bulma/bulma.css">
    <title>Document</title>
</head>
<body>
    <section class="hero has-background-link-dark is-italic">
        <div class="hero-body">
          <p class="title">Employee Information System</p>
          <p class="subtitle">Casigay,Ariene Glieza Y.</p>
        </div>
      </section>

      
        <div class="columns mt-2 is-centered">
        <div class="column is-2">
            <aside class="menu has-background-danger-light">
                <ul class="menu-list">
                    <li><a>Employee list</a></li>
                    <li><a>Personal info</a></li>
                    <li><a>Educational info</a></li>
                    <li><a>Work exp</a></li>
                    <li><a>Trainings</a></li>
                    <li><a class="has-text-black" href="login.html"> Log out</a></li>
                </ul>
            </aside>
        </div>
        <div class="column is-10">
        <div style="width: 500px;" class="container">
            <h1 class="has-background-link-dark has-text-weight-bold has-text-centered is-size-1">UPDATE EMPLOYEE</h1>
            <form class="box has-background-warning-light">
                <div class="field">
                  <label class="label">Employee ID</label>
                  <div class="control">
                    <input class="input" type="Employee ID"/>
                  </div>
                </div>
              
                <div class="field">
                  <label class="label">Last Name</label>
                  <div class="control">
                    <input class="input" type="Last Name"/>
                  </div>
                </div>
        
                <div class="field">
                    <label class="label">First Name</label>
                    <div class="control">
                      <input class="input" type="First Name"/>
                    </div>
                  </div>
        
                  <div class="field">
                    <label class="label">Middle Name</label>
                    <div class="control">
                      <input class="input" type="Middle Name"/>
                    </div>
                  </div>
        
                  <div class="field">
                    <label class="label">Address</label>
                    <div class="control">
                      <input class="input" type="Address"/>
                    </div>
                  </div>
              
                  <div class="field">
                    <label class="label">Birthday</label>
                    <div class="control">
                      <input class="input" type="date"/>
                    </div>
                  </div>
        
                  <div class="field">
                    <label class="label">Civil Status</label>
                    <div class="control">
                    <div class="select">
                      <select>
                        <option>select civil status</option>
                        <option>single</option>
                        <option>married</option>
                        <option>divorced</option>
                        <option>widowed</option>
                      </select>
                    </div>
                  </div>
                  </div>
                <div class="has-text-centered">
                <button class="button is-primary has-background-link-dark"><a class="has-text-black" href="employee_list.html">SAVE</a></button>
            </div>
              </form>
            </div>
            </div>
</body>
</html>